<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>AngularJS Example</title>

		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body ng-app="AngularHome" ng-controller="AngularHomeController">

		<!-- Nav Bar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">AngularHome</a>
				</div>
			</div>
		</nav>

		<div class="container">
			<!-- Min and Max Price Selection -->
			<div class="col-sm-12 price-form">

				<div class="col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">Min Price</span>
						<select name="minPrice" id="minPrice" ng-model="priceInfo.min" class="form-control">
							<option value="100000">$100,000</option>
							<option value="200000">$200,000</option>
							<option value="300000">$300,000</option>
							<option value="400000">$400,000</option>
							<option value="500000">$500,000</option>
							<option value="600000">$600,000</option>
							<option value="700000">$700,000</option>
							<option value="800000">$800,000</option>
							<option value="900000">$900,000</option>
							<option value="1000000">$1,000,000</option>
						</select>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">Max Price</span>
						<select name="maxPrice" id="maxPrice" ng-model="priceInfo.max" class="form-control">
							<option value="100000">$100,000</option>
							<option value="200000">$200,000</option>
							<option value="300000">$300,000</option>
							<option value="400000">$400,000</option>
							<option value="500000">$500,000</option>
							<option value="600000">$600,000</option>
							<option value="700000">$700,000</option>
							<option value="800000">$800,000</option>
							<option value="900000">$900,000</option>
							<option value="1000000">$1,000,000</option>
						</select>
					</div>
				</div>

			</div>
		</div>

		<!-- Real Estate Listings -->
		<div class="container">
			<div class="col-sm-4" ng-repeat="home in homes | AngularHomeFilter:priceInfo ">
				<div class="thumbnail">
					<img ng-src="images/{{ home.image }}.jpeg" alt="">
					<div class="caption">
						<div ng-hide="showDetails === true">
							<h3><i class="glyphicon glyphicon-tag"></i>{{ home.price | currency }}</h3>
							<h4><i class="glyphicon glyphicon-home"></i>{{ home.address }}
								<span class="label label-primary label-sm">{{ home.type }}</span>
							</h4>
						</div>
					</div>

					<button class="btn btn-xs btn-success" ng-hide="showDetails === true" ng-click="showDetails = !showDetails">
						Details
					</button>

					<button class="btn btn-xs btn-danger" ng-show="showDetails === true" ng-click="showDetails = !showDetails">
						Close
					</button>

					<div class="details" ng-show="showDetails === true">
						<h4>
							<span class="label label-primary">Beds: {{ home.details.bedrooms }}</span>
							<span class="label label-primary">Baths: {{ home.details.bathrooms }}</span>
							<span class="label label-primary">SqFt: {{ home.details.area }}</span>
						</h4>
						<p>{{ home.description }}</p>
					</div>

				</div>
			</div>
		</div>
	</body>

	<!-- angular js script -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<!-- ui script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>

	<script src="app.js"></script>

	<script src="scripts/AngularHomeController.js"></script>
	<script src="scripts/AngularHomeFactory.js"></script>
	<script src="scripts/AngularHomeFilter.js"></script>

</html>